@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Models.Item>

<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src="@item.imagePath" alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">@item.Name</h5>
                        @Markdown.ParseHtmlString(item.Description)
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    @*<a asp-page="/Items/ItemDetails" asp-route-Id="@item.id" asp-page-handler="ViewItem" class="btn btn-info btn-sm">View Item</a>*@
                    <div class="text-center">
                        <a asp-page="/Items/ItemDetails" asp-route-Id="@item.id" asp-page-handler="ViewItem" class="btn btn-outline-success btn-lg">View item</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
